{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "globals": {
    "document": true
  },
  "env": {
    "jest/globals": true
  }
}